# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Editor config files
.idea/
.vscode/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
